body {
    background-color: #E0F4FF;
    font-family: 'Philosopher', sans-serif;
    color: #000066;
}

.content {
    /*background-color: rgba(160, 32, 240, 0.1);*/
    background-color: #E0F4FF;
    font-size: 18px;
}

.txtBox{
    display:inline;
}

hr.top {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

button {
    color: crimson;
}